body {
    margin: 0;
    padding: 0;
    background: #0000ed;
    color: currentColor;
}

.container {
    align-content: center;
    font-family: cursive;
    font-size: 120%;
    margin-top: 10%;
}

.heading {
    text-align: center;
}

.innerDiv {
    margin: 0 30% 0 30%;
}

.itemsList {
    margin-left: 40%;
}
